@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Management Admin</title>
    <link rel="icon" href="~/Content/AdminAssets/img/mini_logo.png" type="image/png">
    <link rel="stylesheet" href="~/Content/AdminAssets/css/bootstrap1.min.css" />
    <link rel="stylesheet" href="~/Content/AdminAssets/vendors/themefy_icon/themify-icons.css" />
    <link rel="stylesheet" href="~/Content/AdminAssets/vendors/niceselect/css/nice-select.css" />
    <link rel="stylesheet" href="~/Content/AdminAssets/vendors/owl_carousel/css/owl.carousel.css" />
    <link rel="stylesheet" href="~/Content/AdminAssets/vendors/gijgo/gijgo.min.css" />
    <link rel="stylesheet" href="~/Content/AdminAssets/vendors/font_awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/Content/AdminAssets/vendors/tagsinput/tagsinput.css" />
    <link rel="stylesheet" href="~/Content/AdminAssets/vendors/datepicker/date-picker.css" />
    <link rel="stylesheet" href="~/Content/AdminAssets/vendors/vectormap-home/vectormap-2.0.2.css" />
    <link rel="stylesheet" href="~/Content/AdminAssets/vendors/scroll/scrollable.css" />
    <link rel="stylesheet" href="~/Content/AdminAssets/vendors/datatable/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/Content/AdminAssets/vendors/datatable/css/responsive.dataTables.min.css" />
    <link rel="stylesheet" href="~/Content/AdminAssets/vendors/datatable/css/buttons.dataTables.min.css" />
    <link rel="stylesheet" href="~/Content/AdminAssets/vendors/text_editor/summernote-bs4.css" />
    <link rel="stylesheet" href="~/Content/AdminAssets/vendors/morris/morris.css">
    <link rel="stylesheet" href="~/Content/AdminAssets/vendors/material_icon/material-icons.css" />
    <link rel="stylesheet" href="~/Content/AdminAssets/css/metisMenu.css">
    <link rel="stylesheet" href="~/Content/AdminAssets/css/style1.css" />
    <link rel="stylesheet" href="~/Content/AdminAssets/css/colors/default.css" id="colorSkinCSS">
</head>
<body class="crm_body_bg">

    <nav class="sidebar dark_sidebar">
        <div class="logo d-flex justify-content-between">
            <a class="large_logo" href="#"><img src="~/Content/AdminAssets/img/logo_white.png"></a>
            <a class="small_logo" href="#"><img src="~/Content/AdminAssets/img/mini_logo.png"></a>
            <div class="sidebar_close_icon d-lg-none">
                <i class="ti-close"></i>
            </div>
        </div>
        <ul id="sidebar_menu">
            <li>
                <a class="has-arrow" href="#" aria-expanded="false">
                    <div class="nav_icon_small">
                        <img src="~/Content/AdminAssets/img/menu-icon/dashboard.svg" alt="">
                    </div>
                    <div class="nav_title">
                        <span>Slider </span>
                    </div>
                </a>
                <ul>
                    <li><a href="/Slider/Create">Create</a></li>
                    <li><a href="/Slider/Index">View</a></li>
                </ul>
            </li>
            @*<li>
                <a class="has-arrow" href="#" aria-expanded="false">
                    <div class="nav_icon_small">
                        <img src="~/Content/AdminAssets/img/menu-icon/2.svg" alt="">
                    </div>
                    <div class="nav_title">
                        <span>About </span>
                    </div>
                </a>
                <ul>
                    <li><a href="#">Create</a></li>
                    <li><a href="#">View</a></li>
                </ul>
            </li>*@
            <li>
                <a class="has-arrow" href="#" aria-expanded="false">
                    <div class="nav_icon_small">
                        <img src="~/Content/AdminAssets/img/menu-icon/3.svg" alt="">
                    </div>
                    <div class="nav_title">
                        <span>Services</span>
                    </div>
                </a>
                <ul>
                    <li><a href="/Services/Create">Create</a></li>
                    <li><a href="/Services/Index">View</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="#" aria-expanded="false">
                    <div class="nav_icon_small">
                        <img src="~/Content/AdminAssets/img/menu-icon/4.svg" alt="">
                    </div>
                    <div class="nav_title">
                        <span>Price</span>
                    </div>
                </a>
                <ul>
                    <li><a href="/Prices/Create">Create</a></li>
                    <li><a href="/Prices/Index">View</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="#" aria-expanded="false">
                    <div class="nav_icon_small">
                        <img src="~/Content/AdminAssets/img/menu-icon/11.svg" alt="">
                    </div>
                    <div class="nav_title">
                        <span>Barbar</span>
                    </div>
                </a>
                <ul>
                    <li><a href="/Barbars/Create">Create</a></li>
                    <li><a href="/Barbars/Index">View</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="#" aria-expanded="false">
                    <div class="nav_icon_small">
                        <img src="~/Content/AdminAssets/img/menu-icon/8.svg" alt="">
                    </div>
                    <div class="nav_title">
                        <span>Working Hours</span>
                    </div>
                </a>
                <ul>
                    <li><a href="/Working_Hours/Create">Create</a></li>
                    <li><a href="/Working_Hours/Index">View</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="#" aria-expanded="false">
                    <div class="nav_icon_small">
                        <img src="~/Content/AdminAssets/img/menu-icon/11.svg" alt="">
                    </div>
                    <div class="nav_title">
                        <span>Testimonial</span>
                    </div>
                </a>
                <ul>
                    <li><a href="/Testimonials/Create">Create</a></li>
                    <li><a href="/Testimonials/Index">View</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <section class="main_content dashboard_part large_header_bg">
        <div class="container-fluid g-0">
            <div class="row">
                <div class="col-lg-12 p-0 ">
                    <div class="header_iner d-flex justify-content-between align-items-center">
                        <div class="sidebar_icon d-lg-none">
                            <i class="ti-menu"></i>
                        </div>
                        <div class="line_icon open_miniSide d-none d-lg-block">
                            <img src="~/Content/AdminAssets/img/line_img.png" alt="">
                        </div>
                        <div class="serach_field-area d-flex align-items-center">
                            <div class="search_inner">
                                <form action="#">
                                    <div class="search_field">
                                        <input type="text" placeholder="Search">
                                    </div>
                                    <button type="submit"> <img src="~/Content/AdminAssets/img/icon/icon_search.svg" alt=""> </button>
                                </form>
                            </div>
                        </div>
                        <div class="header_right d-flex justify-content-between align-items-center">
                            <div class="profile_info">
                                <img src="~/Content/AdminAssets/img/client_img.png" alt="#">
                                <div class="profile_info_iner">
                                    <div class="profile_author_name">
                                        <h5>@User.Identity.Name</h5>
                                    </div>
                                    <div class="profile_info_details">
                                        <a href="#">My Profile </a>
                                        <a href="/Admin/Logout">Log Out </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @RenderBody()

        <div class="footer_part">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer_iner text-center">
                            <p>
                                2023 © Influence - Designed by <a href="https://cubicussystems.com"> <i class="ti-heart"></i> </a><a href="#">
                                    Cubicus Systems
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="back-top" style="display: none;">
        <a title="Go to Top" href="#">
            <i class="ti-angle-up"></i>
        </a>
    </div>

    <script src="~/Content/AdminAssets/js/jquery1-3.4.1.min.js"></script>
    <script src="~/Content/AdminAssets/js/popper1.min.js"></script>
    <script src="~/Content/AdminAssets/js/bootstrap1.min.js"></script>
    <script src="~/Content/AdminAssets/js/metisMenu.js"></script>
    <script src="~/Content/AdminAssets/vendors/count_up/jquery.waypoints.min.js"></script>
    <script src="~/Content/AdminAssets/vendors/chartlist/Chart.min.js"></script>
    <script src="~/Content/AdminAssets/vendors/count_up/jquery.counterup.min.js"></script>
    <script src="~/Content/AdminAssets/vendors/niceselect/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/AdminAssets/vendors/owl_carousel/js/owl.carousel.min.js"></script>
    <script src="~/Content/AdminAssets/vendors/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/AdminAssets/vendors/datatable/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/AdminAssets/vendors/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/AdminAssets/vendors/datatable/js/buttons.flash.min.js"></script>
    <script src="~/Content/AdminAssets/vendors/datatable/js/jszip.min.js"></script>
    <script src="~/Content/AdminAssets/vendors/datatable/js/pdfmake.min.js"></script>
    <script src="~/Content/AdminAssets/vendors/datatable/js/vfs_fonts.js"></script>
    <script src="~/Content/AdminAssets/vendors/datatable/js/buttons.html5.min.js"></script>
    <script src="~/Content/AdminAssets/vendors/datatable/js/buttons.print.min.js"></script>
    <script src="~/Content/AdminAssets/vendors/datepicker/datepicker.js"></script>
    <script src="~/Content/AdminAssets/vendors/datepicker/datepicker.en.js"></script>
    <script src="~/Content/AdminAssets/vendors/datepicker/datepicker.custom.js"></script>
    <script src="~/Content/AdminAssets/js/chart.min.js"></script>
    <script src="~/Content/AdminAssets/vendors/chartjs/roundedBar.min.js"></script>
    <script src="~/Content/AdminAssets/vendors/progressbar/jquery.barfiller.js"></script>
    <script src="~/Content/AdminAssets/vendors/tagsinput/tagsinput.js"></script>
    <script src="~/Content/AdminAssets/vendors/text_editor/summernote-bs4.js"></script>
    <script src="~/Content/AdminAssets/vendors/am_chart/amcharts.js"></script>
    <script src="~/Content/AdminAssets/vendors/scroll/perfect-scrollbar.min.js"></script>
    <script src="~/Content/AdminAssets/vendors/scroll/scrollable-custom.js"></script>
    <script src="~/Content/AdminAssets/vendors/vectormap-home/vectormap-2.0.2.min.js"></script>
    <script src="~/Content/AdminAssets/vendors/vectormap-home/vectormap-world-mill-en.js"></script>
    <script src="~/Content/AdminAssets/vendors/apex_chart/apex-chart2.js"></script>
    <script src="~/Content/AdminAssets/vendors/apex_chart/apex_dashboard.js"></script>
    <script src="~/Content/AdminAssets/vendors/chart_am/core.js"></script>
    <script src="~/Content/AdminAssets/vendors/chart_am/charts.js"></script>
    <script src="~/Content/AdminAssets/vendors/chart_am/animated.js"></script>
    <script src="~/Content/AdminAssets/vendors/chart_am/kelly.js"></script>
    <script src="~/Content/AdminAssets/vendors/chart_am/chart-custom.js"></script>
    <script src="~/Content/AdminAssets/js/dashboard_init.js"></script>
    <script src="~/Content/AdminAssets/js/custom.js"></script>
</body>
</html>
