@model IEnumerable<HairCut.Models.Price>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="main_content_iner ">
    <div class="container-fluid p-0">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="white_card card_height_100 mb_30">
                    <div class="white_card_header">
                        <div class="box_header m-0">
                            <div class="main-title">
                                <a href="/Prices/Create" class="btn btn-success btn-sm">Add New Price</a>
                            </div>
                        </div>
                    </div>
                    <div class="white_card_body">
                        <div class="QA_section">
                            <div class="QA_table mb_30">

                                <table class="table lms_table_active3 ">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ int i = 1;}
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <th scope="row"> @i </th>
                                                <td>@item.Name</td>
                                                <td>@item.Price1</td>
                                                <td>
                                                    @Html.ActionLink("Edit", "Edit", "Prices", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" }) |
                                                    @Html.ActionLink("Delete", "Delete", "Prices", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                                                </td>
                                            </tr>
                                            i++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>